# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/
.DS_Store
compile_commands.json
/bin
/.cache
/.vscode
/.vscode
/.d
compile_commands.json
compile_commands.json
compile_commands.json
